<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong>Тут автор</strong>
        <small>14.02.1982</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem, illum alias quis nisi aspernatur ut, consectetur ab provident ex sunt, veritatis reiciendis nesciunt? Dicta ut excepturi nostrum esse dolore, voluptatum nulla animi veniam consequatur soluta laborum ipsam. Non illo soluta nam omnis corporis ullam veniam commodi? Rem, quos expedita?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem, illum alias quis nisi aspernatur ut, consectetur ab provident ex sunt, veritatis reiciendis nesciunt? Dicta ut excepturi nostrum esse dolore, voluptatum nulla animi veniam consequatur soluta laborum ipsam. Non illo soluta nam omnis corporis ullam veniam commodi? Rem, quos expedita?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem, illum alias quis nisi aspernatur ut, consectetur ab provident ex sunt, veritatis reiciendis nesciunt? Dicta ut excepturi nostrum esse dolore, voluptatum nulla animi veniam consequatur soluta laborum ipsam. Non illo soluta nam omnis corporis ullam veniam commodi? Rem, quos expedita?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem, illum alias quis nisi aspernatur ut, consectetur ab provident ex sunt, veritatis reiciendis nesciunt? Dicta ut excepturi nostrum esse dolore, voluptatum nulla animi veniam consequatur soluta laborum ipsam. Non illo soluta nam omnis corporis ullam veniam commodi? Rem, quos expedita?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem, illum alias quis nisi aspernatur ut, consectetur ab provident ex sunt, veritatis reiciendis nesciunt? Dicta ut excepturi nostrum esse dolore, voluptatum nulla animi veniam consequatur soluta laborum ipsam. Non illo soluta nam omnis corporis ullam veniam commodi? Rem, quos expedita?</p>
    </div>
</div>